@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500&family=Lora&family=Open+Sans:wght@400;500;600&family=Ubuntu+Condensed&display=swap');
*,
::after,
::before {
  box-sizing: border-box;
}
:root {
  --heading-font: 'Ubuntu Condensed', sans-serif;;
  --body-font: 'Open Sans', sans-serif;
  --small-text: 0.875rem;
  --extra-small-text: 0.7em;
  --primary-100: #19c8fa;
  --primary-200: #17b4e1;
  --primary-300: #14a0c8;
  --primary-400: #128caf;
  --primary-500: #0f7896;
  --primary-600: #0d647d;
  --primary-700: #0a5064;
  --primary-800: #083c4b;
  --primary-900: #052832;
  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;
  --transparent-color: rgba(18, 140, 175, 0.8);
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;
  --small-text: 0.875rem;
  --extra-small-text: 0.7em;
  --background-color: var(--grey-50);
  --text-color: var(--grey-900);
  --border-radius: 0.25rem;
  --letter-spacing: 1px;
  --line-height: 1.5rem;
  --transition: 0.3s ease-in-out all;
  --max-width: 60%;
  --fixed-width: 600px;
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}
html {font-size: 100%;}
body {
  font-family: var(--body-font);
  margin-bottom: 100px;
}
p {
  margin-bottom: 1.5rem;
  max-width: 40em;
  line-height: var(--line-height);
}
h1,
h2,
h3,
h4,
h5 {
  margin: 1.5rem 0;
  font-family: var(--heading-font);
  font-weight: 400;
  line-height: 2.8rem;
  text-transform: capitalize;
  letter-spacing: var(--letter-spacing);
}
h1 {
  font-size: 3.052rem;
}
h2 {
  font-size: 2.441rem;
}
h3 {
  font-size: 1.953rem;
}
h4 {
  font-size: 1.563rem;
}
h5 {
  font-size: 1.25rem;
}
.text-small {
  font-size: var(--small-text);
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}
.main-heading {
  text-align: center;
}
.main-heading p {
  width: 550px;
  margin: 0 auto 100px;
  max-width: 100%;
  line-height: var(--line-height);
  color: var(--grey-600);
}
.img {
  width: 100%;
  display: block;
  object-fit: cover;
}
.button {
  cursor: pointer;
  color: var(--white);
  background: var(--primary-300);
  border: transparent;
  border-radius: var(--border-radius);
  letter-spacing: var(--letter-spacing);
  padding: 0.375rem 0.75rem;
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  text-transform: capitalize;
  display: inline-block;
}
.button:hover {
  background: var(--primary-200);
  box-shadow: var(--shadow-3);
}
.button-hipster {
  color: var(--primary-300);
  background: var(--primary-300);
}
.button-hipster:hover {
  color: var(--primary-300);
  background: var(--primary-300);
}
.button-block {
  width: 100%;
}
.alert {
  padding: 0.375rem 0.75rem;
  margin-bottom: 1rem;
  border-color: transparent;
  border-radius: var(--border-radius);
}
.alert-danger {
  color: var(--red-dark);
  background: var(--red-light);
}
.alert-success {
  color: var(--green-dark);
  background: var(--green-light);
}
.form {
  width: 90vw;
  max-width: var(--fixed-width);
  background: var(--white);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-2);
  padding: 2rem 2.5rem;
  margin: 3rem auto;
}
.form-label {
  display: block;
  font-size: var(--small-text);
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  letter-spacing: var(--letter-spacing);
}
.form-input,
.form-textarea {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: var(--border-radius);
  background: var(--backgroundColor);
  border: 1px solid var(--grey-200);
}
.form-row {
  margin-bottom: 1rem;
}
.form-textarea {
  height: 7rem;
}
::placeholder {
  font-family: inherit;
  color: var(--grey-400);
}
.form-alert {
  color: var(--red-dark);
  letter-spacing: var(--letter-spacing);
  text-transform: capitalize;
}
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
.loading {
  width: 6rem;
  height: 6rem;
  border: 5px solid var(--grey-400);
  border-radius: 50%;
  border-top-color: var(--primary-300);
  animation: spinner 0.6s linear infinite;
}
.loading {
  margin: 0 auto;
}
.title {
  text-align: center;
}
.title-underline {
  background: var(--primary-200);
  width: 7rem;
  height: 0.25rem;
  margin: 0 auto;
  margin-bottom: 1rem;
  margin-top: -.6rem;
}
.container {
  width: 70%;
  max-width: var(--max-width);
  margin: 0 auto;
  min-height: calc(100vh - (6rem + 4rem));
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 3;
  width: 100%;
}
.nav-center {
  width: 70%;
  border-bottom: var(--grey-500) 1px solid;
  max-width: var(--max-width);
}
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
}
.nav-logo {
  display: flex;
  align-items: center;
}
.nav-header img {
  width: 110px;
}
.nav-button i {
  font-size: 1.25rem;
  color: var(--white);
}
.nav-links {
  display: flex;
  flex-direction: column;
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}
.show-links {
  height: 23.9375rem;
}
.nav-link {
  color: var(--white);
  text-transform: capitalize;
  border-top: 1px solid var(--white);
  text-align: center;
  font-size: 1em;
  letter-spacing: var(--letter-spacing);
  padding: 1rem 0;
}
.contact-link {
  color: var(--primary-300);
  font-weight: 700;
}
@media screen and (min-width: 992px) {
  .nav-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
  }
  .nav-logo img{
    width: 110px;
  }
  .nav-header {
    padding: 0;
    margin-right: 2rem;
    height: 6rem;
  }
  .nav-button {
    display: none;
  }
  .nav-links {
    height: auto !important;
    flex-direction: row;
  }
  .nav-link {
    border-top: none;
    margin-right: 1rem;
  }
}

.landing {
  min-height: 80vh;
  background-color: var(--black);
  background-image: url("../images/landing.jpg");
  background-size: cover;  
  position: relative;
}
.landing .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 60%);
}
.landing .text {
  color: var(--white);
  position: absolute;
  z-index: 1;
  left: 0;
  top: 50%;
  background-color: rgba(0, 145, 185, 0.432);
  display: flex;
  justify-content: flex-end;
  transform: translateY(-50%);
  padding: 50px;
}
@media (max-width: 767px) {
  .landing {
    min-height: 100vh;
  }
}