@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&#038;display=swap');
*,
::after,
::before {
  box-sizing: border-box;
}
:root {
  --heading-font: 'Open Sans', sans-serif;
  --body-font: 'Open Sans', sans-serif;
  --small-text: 0.9rem;
  --extra-small-text: 0.8em;
  --primary-100: #19c8fa;
  --primary-200: #17b4e1;
  --primary-300: #14a0c8;
  --primary-400: #128caf;
  --primary-500: #0f7896;
  --primary-600: #0d647d;
  --primary-700: #0a5064;
  --primary-800: #083c4b;
  --primary-900: #052832;
  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;
  --transparent-color: rgba(18, 140, 175, 0.8);
  --black: #131313;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;
  --background-color: var(--grey-50);
  --text-color: var(--grey-900);
  --border-radius: 0.25rem;
  --letter-spacing: .5px;
  --line-height: 1.5rem;
  --transition: 0.3s ease-in-out all;
  --max-width: 80%;
  --fixed-width: 600px;
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}
html {
  font-size: 100%;
  scroll-behavior: smooth;
}
body {
  font-family: var(--body-font);
  margin-bottom: 100px;
}
p {
  margin-bottom: 1.5rem;
  max-width: 40em;
  line-height: var(--line-height);
}
h1,
h2,
h3,
h4,
h5 {
  margin: 1.5rem 0;
  font-family: var(--heading-font);
  font-weight: 400;
  line-height: 2.8rem;
  text-transform: capitalize;
  letter-spacing: var(--letter-spacing);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.2rem;
}
h3 {
  font-size: 1.953rem;
}
h4 {
  font-size: 1.563rem;
}
h5 {
  font-size: 1.25rem;
}
.text-small {
  font-size: var(--small-text);
}
a {
  text-decoration: none;
  color: var(--white);
}
ul {
  list-style-type: none;
  padding: 0;
}
.main-heading {
  text-align: center;
}
.main-heading h2 {
  margin-bottom: .8rem;
}
.image {
  width: 100%;
  display: block;
  object-fit: cover;
}
.button {
  cursor: pointer;
  color: var(--white);
  background: var(--primary-300);
  border: transparent;
  border-radius: var(--border-radius);
  letter-spacing: var(--letter-spacing);
  padding: 0.375rem 0.75rem;
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  text-transform: capitalize;
  display: inline-block;
}
.button:hover {
  background: var(--primary-200);
  box-shadow: var(--shadow-3);
}
.button-hipster {
  color: var(--primary-300);
  background: var(--primary-300);
}
.button-hipster:hover {
  color: var(--primary-300);
  background: var(--primary-300);
}
.button-block {
  width: 100%;
}
.alert {
  padding: 0.375rem 0.75rem;
  margin-bottom: 1rem;
  border-color: transparent;
  border-radius: var(--border-radius);
}
.alert-danger {
  color: var(--red-dark);
  background: var(--red-light);
}
.alert-success {
  color: var(--green-dark);
  background: var(--green-light);
}
.form {
  max-width: var(--fixed-width);
  background: var(--white);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-2);
  padding: 2rem 2.5rem;
}
.form-label {
  display: block;
  font-size: var(--small-text);
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  letter-spacing: var(--letter-spacing);
}
.form-input,
.form-textarea {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: var(--border-radius);
  background: var(--backgroundColor);
  border: 1px solid var(--grey-200);
}
.form-row {
  margin-bottom: 1rem;
}
.form-textarea {
  height: 7rem;
  resize: vertical;
}
::placeholder {
  font-family: inherit;
  color: var(--grey-400);
}
.form-alert {
  color: var(--red-dark);
  letter-spacing: var(--letter-spacing);
  text-transform: capitalize;
}
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
.loading {
  width: 6rem;
  height: 6rem;
  border: 5px solid var(--grey-400);
  border-radius: 50%;
  border-top-color: var(--primary-300);
  animation: spinner 0.6s linear infinite;
}
.loading {
  margin: 0 auto;
}
.title {
  text-align: center;
}
.title-underline {
  background: var(--primary-200);
  width: 7rem;
  height: 0.25rem;
  margin: 0 auto;
  margin-bottom: 1rem;
  margin-top: -.6rem;
}
.container {
  margin: 0 auto;
  padding-left: 35px;
  padding-right: 35px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 3;
  width: 100%;
}
.navbar .container {
  width: 100%;
}
.nav-center {
  border-bottom: var(--grey-500) 1px solid;
}
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
}
.nav-logo {
  display: flex;
  align-items: center;
}
.nav-header img {
  width: 110px;
}
.nav-button i {
  font-size: 1.25rem;
  color: var(--white);
}
.nav-links {
  display: flex;
  flex-direction: column;
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}
.show-links {
  height: fit-content;
  background-color: rgba(43, 43, 43, 0.9);
}
.nav-link {
  color: var(--white);
  text-transform: capitalize;
  border-top: 1px solid var(--white);
  text-align: center;
  font-size: 1em;
  letter-spacing: var(--letter-spacing);
  padding: 1rem 0;
}
.contact-link {
  color: var(--primary-300);
  font-weight: 700;
}
@media (min-width: 1200px) {
  .nav-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-logo img{
    width: 110px;
  }
  .nav-header {
    padding: 0;
    margin-right: 2rem;
    height: 6rem;
  }
  .nav-button {
    display: none;
  }
  .nav-links {
    height: auto !important;
    flex-direction: row;
  }
  .nav-link {
    border-top: none;
    margin-left: 1rem;
  }
}

.landing {
  height: 667px;
  background-color: var(--black);
  background-size: cover;  
  position: relative;
}
.landing .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 60%);
}
.landing .text {
  width: 100%;
  color: var(--white);
  position: absolute;
  z-index: 1;
  left: 0;
  top: 60%;
  display: flex;
  justify-content: center;
  text-align: center;
  transform: translateY(-50%);
  background-color: rgba(0, 145, 185, 0.432);
  padding: 20px 50px;
}
.landing .text .content {
  max-width: 500px;
}
@media (max-width: 800px) {
  .landing .text .content {
    bottom: 1px;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .services-section .services-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-column-gap: 40px;
    grid-row-gap: 60px;
  }
}
@media (max-width: 414px) {
  .service-box a {
    display: none;
  }
  .service-box .text {
    text-align: center;
  }
}
.service-box {
  display: flex;
}
.service-box a {
  cursor: default;
  margin-top: 12px;
  margin-right: 2em;
}
.service-box a img {
  width: 40px;
}
.service-box .text h3{
  margin: 0;
  font-size: 1.6rem;
  color: var(--primary-300);
}

.portfolio-section .main-heading h2 {
  padding-top: .8rem;
}
.portfolio-section .main-heading p {
  margin: 0 auto 50px;
}
.portfolio-section .portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.portfolio-section .portfolio .box {
  position: relative;
}
.portfolio-section .portfolio .box .text {
  position: absolute;
  padding-left: 1.5em;
  padding-right: .5em;
  padding-bottom: 1.5em;
  background-color: var(--grey-200);
  width: 100%;
  transition: var(--transition);
  visibility: hidden;
  bottom: 0; 
  opacity: 0;
}
.portfolio-section .portfolio .box:hover .text {
  visibility: visible;
  opacity: 1;
}
.portfolio-section .portfolio .box .text h5 {
  margin-bottom: 0;
}
.portfolio-section .portfolio .box .text span {
  display: inline-block;
  background-color: var(--primary-200);
  color: var(--grey-100);
  padding: .2em .7em;
  margin-bottom: 10px;
  border-radius: var(--border-radius);
  width: fit-content;
}

.quote-section {
  background-color: var(--black);
  margin-top: 2em;
  padding: 100px 0;
}
.quote-section .text {
  color: var(--white);
  text-transform: uppercase;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.quote-section .text q {
  font-size: 1.6rem;
  line-height: 1.8em;
  margin: 1em 0;
  letter-spacing: 1.5px;
  font-weight: 700;
}
.quote-section .text span {
  font-size: var(--small-text);
  font-weight: bold;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .quote-section .text q {
    font-size: 1.3rem;
  }
}

.about-us-section img {
  margin: 0 auto;
  max-width: 700px;
}

.stats-section {
  background-color: var(--black);
  position: relative;
  text-align: center;
  padding: 50px 0;
}
.stats-section .container {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.stats-section .container .box {
  color: white;
  padding: 25px;
  background-color: rgba(0, 145, 185, 0.432);
  width: 100%;
}
.stats-section .container .box i {
  display: flex;
  background-color: var(--black);
  height: 40px;
  width: 40px;
  margin: 0 auto;
  margin-bottom: 1.2em;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 1.4em;
}
.stats-section .container .box .number {
  font-size: 50px;
  margin: 0 auto;
  font-weight: bold;
}
.stats-section .container .box p {
  font-size: var(--small-text);
  font-weight: 700;
  margin-top: 1em;
}
@media (max-width: 767px) {
    .stats .container .box {
      flex-basis: 100%;
  }
}
@media (min-width: 768px) {
  .stats-section .container .box {
    flex-basis: 50%;
  }
}
@media (min-width: 992px) {
  .stats-section .container {
    flex-wrap: nowrap;
  }
  .stats-section .container .box {
    flex-basis: 25%;
  }
}

.team-info-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.team-info-section .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.team-info-section .testimonials-section h3 {
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 600;
  text-align: left;
}
.team-info-section .testimonials-section .box {
  display: flex;
  align-items: center;
  justify-self: center;
  margin-bottom: 2em;
}
.team-info-section .testimonials-section .box .image {
  border-radius: 50%;
  width: 6em;
  height: 6em;
  margin-right: 1em;
  margin-bottom: 1em;
}
.team-info-section .testimonials-section .box .text {
  max-width: 320px;
  border-bottom: 1px solid var(--grey-400);
  padding-bottom: 1em;
}
.team-info-section .testimonials-section .box p {
  font-size: var(--extra-small-text);
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 0;
  font-style: italic;
  color: var(--grey-500);
  text-align: right;
}
@media (max-width: 414px) {
  .team-info-section .testimonials-section .box {
    flex-direction: column;
    text-align: center;
  }
}
@media (min-width: 992px) {
  .team-info-section .container > div {
    flex-basis: 48%;
  }
}
.team-info-section .skills-section {
  width: 100%;
}
.team-info-section .skills-section h3 {
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 600;
  text-align: left;
}
.team-info-section .skills-section .progress-holder h5 {
  margin-bottom: 0;
}
.team-info-section .skills-section .progress-holder .progress {
  height: 20px;
  background-color: var(--grey-600);
  border-radius: var(--border-radius);
}
.team-info-section .skills-section .progress-holder .progress span {
  display: block;
  background-color: var(--primary-200);
  border-radius: var(--border-radius) 0 0 var(--border-radius);
  height: 100%;
  position: relative;
}

.pricing-section .plans {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 30px;
}
.pricing-section .plans .plan {
  background-color: var(--grey-100);
  text-align: center;
}
.pricing-section .plans .plan .head {
  padding: 40px 20px;
  border-top: 1px solid var(--primary-200);
  border-bottom: 1px solid var(--primary-200);
}
.pricing-section .plans .plan .head h5{
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 5px;
}
.pricing-section .plans .plan .head span {
  font-size: 60px;
  font-weight: 600;
 
}
.pricing-section .plans .plan .head span::before {
  content: "$";
  font-weight: normal;
  font-size: 26px;
  margin-right: 8px;
  position: relative;
  top: -35px;
}
.pricing-section .plans .plan .head span::after {
  content: "/MO";
  font-size: 20px;
  margin-left: 8px;
  position: relative;
  bottom: -20px;
}
.pricing-section .plans .plan ul {
  border-bottom: 1px solid var(--primary-200);
}
.pricing-section .plans .plan li {
  padding: 20px;
  position: relative;
}
.pricing-section .plans .plan li:not(:last-child)::after {
  content: "";
  width: 160px;
  height: 1px;
  background-color: var(--primary-200);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
.pricing-section .plans .plan .buy-button {
  margin: 40px 0;
}
.pricing-section .plans .plan .buy-button .button {
  background-color: var(--grey-100);
  box-shadow: none;
  border: 1px solid var(--primary-200);
  padding: 15px 20px;
  border-radius: 0;
}
.pricing-section .plans .plan .buy-button:hover .button {
  background-color: var(--primary-300);
  border: 1px solid var(--primary-300);
}
.pricing-section .plans .plan .buy-button:hover .button a {
  color: var(--white);
}
.pricing-section .plans .plan .buy-button .button a {
  color: var(--black);
}

.contact-section .form {
  margin: 0 auto;
}

.footer-section {
  text-align: center;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--black);
  color: var(--white);
  margin-top: 1.6rem;
  margin-bottom: -1000px;
}
.footer-section p {
  margin-bottom: 0;
  margin-top: 0;
}
.footer-section .footer-logo,
.footer-section a {
  color: var(--primary-100);
}